<div class="page-wrapper">        
    
    <div class="header-container">
        
        <div class="header-top dark ">
            <div class="container">
                <div class="row">
                    <div class="col-xs-3 col-sm-6 col-md-9">
                        <!-- header-top-first start -->
                        <!-- ================ -->

                        <!-- header-top-first end -->
                    </div>
                    <div class="col-xs-9 col-sm-6 col-md-3">

                        <!-- header-top-second start -->
                        <!-- ================ -->
                        <div id="header-top-second"  class="clearfix">

                            <!-- header top dropdowns start -->
                            <!-- ================ -->
                            <div class="header-top-dropdown text-right">
                                <div class="btn-group dropdown">
                                    <button type="button" class="btn dropdown-toggle btn-default btn-sm" data-toggle="dropdown"><i class="fa fa-lock pr-10"></i> Login</button>
                                    <ul class="dropdown-menu dropdown-menu-right dropdown-animation">
                                        <li>
                                            <form class="login-form margin-clear">
                                                <div class="form-group has-feedback">
                                                    <label class="control-label">Usuário</label>
                                                    <input type="text" class="form-control" placeholder="">
                                                    <i class="fa fa-user form-control-feedback"></i>
                                                </div>
                                                <div class="form-group has-feedback">
                                                    <label class="control-label">Senha</label>
                                                    <input type="password" class="form-control" placeholder="">
                                                    <i class="fa fa-lock form-control-feedback"></i>
                                                </div>
                                                <button type="submit" class="btn btn-gray btn-sm">Login</button>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!--  header top dropdowns end -->
                        </div>
                        <!-- header-top-second end -->
                    </div>
                </div>
            </div>
        </div>
        
        <enviou-menu></enviou-menu>
        
    </div>

    <enviou-banner></enviou-banner>

    <div id="page-start"></div>

    <section class="light-gray-bg pv-30 clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="text-center">Multi <strong>Uso</strong></h2>
                    <div class="separator"></div>
                    <p class="large text-center">Sistema para uso em diferentes mercados. Conectando empresas a clientes...</p>
                </div>
                <div class="col-md-4 ">
                    <div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                        <span class="icon default-bg circle"><i class="fa fa-internet-explorer"></i></span>
                        <h3>Plataforma WEB</h3>
                        <div class="separator clearfix"></div>
                        <p>Sistema moderno de envio e recebimento de SMS. Plataforma simples e descomplicada. Para uso imediato.</p>
                        <a href="#">Saiba mais <i class="pl-5 fa fa-angle-double-right"></i></a>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="150">
                        <span class="icon default-bg circle"><i class="fa fa-sitemap"></i></span>
                        <h3>Integração via API</h3>
                        <div class="separator clearfix"></div>
                        <p>A melhor forma de integrar seu sistema de gestão, CRM, ERP. API poderosa e descomplicada.</p>
                        <a href="#">Saiba mais <i class="pl-5 fa fa-angle-double-right"></i></a>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
                        <span class="icon default-bg circle"><i class="fa fa-cloud"></i></span>
                        <h3>Gateway SMS</h3>
                        <div class="separator clearfix"></div>
                        <p>Conectado a hardware legado. Use nossa plataforma para administrar seus gateways de SMS.</p>
                        <a href="#">Saiba mais <i class="pl-5 fa fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section default-bg clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="call-to-action text-center">
                        <div class="row">
                            <div class="col-sm-8">
                                <h1 class="title">Para todos os mercados</h1>
                                <p>Confira o usos de SMS em mercados diferentes. Aprenda como o SMS pode
                                    aumentar a lucratividade de sua empresa</p>
                            </div>
                            <div class="col-sm-4">
                                <br>
                                <p><a href="#" class="btn btn-lg btn-gray-transparent btn-animated">Saiba mais<i class="fa fa-arrow-right pl-20"></i></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pv-30">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="text-center">Porque usar <strong>SMS</strong></h2>
                    <div class="separator"></div>
                    <p class="large text-center">Com mais de 200 milhões de smartphones espalhados pelo Brasil,
                        o mobile marketing se torna um grande aliado das empresas na hora de manter um
                        relacionamento próximo e certeiro com seus clientes.</p>
                    <br>
                </div>
            </div>
        </div>
        <div class="owl-carousel content-slider-with-large-controls">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img src="../../assets/images/section-image-1.png" alt="">
                    </div>
                    <div class="col-md-6">
                        <p class="space-top">A taxa de abertura de SMS é superior a 95%, ou seja, nenhuma outra
                            estratégia alcança esse nível tão alto. As pessoas estão tão acostumadas a
                            receberem SMS que é praticamente impossível não abrir uma mensagem.</p>
                        <div class="media">
                            <div class="media-left pr-20">
                                <span class="icon circle small default-bg"><i class="icon-ok"></i> </span>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">É acessivel</h4>
                                É compátivel com qualquer aparelho de celular.
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left pr-20">
                                <span class="icon circle small default-bg"><i class="icon-ok"></i> </span>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">É fácil</h4>
                                Todo mundo sabe como usar SMS.
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left pr-20">
                                <span class="icon circle small default-bg"><i class="icon-ok"></i> </span>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">É instantâneo</h4>
                                O SMS é intregue imediatamente, ou assim que o usuário ligar o aparelho.
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left pr-20">
                                <span class="icon circle small default-bg"><i class="icon-ok"></i> </span>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">É econômico</h4>
                                Custa menos que a maioria das mídias...
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left pr-20">
                                <span class="icon circle small default-bg"><i class="icon-ok"></i> </span>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">É prático</h4>
                                O usuário não precisa ter crédito no celular para receber mensagens.
                            </div>
                        </div>
                        <p><a href="page-services.html" class="btn btn-default-transparent btn-animated">Saiba mais <i class="fa fa-arrow-right pl-10"></i></a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="light-gray-bg pv-20">
    </section>

    <section class="pv-30">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <h2>Porque o SMS é um canal de comunicação <strong>Ideal</strong></h2>
                    <div class="separator-2"></div>
                </div>
                    <div class="row">
                    <div class="col-md-6 text-right">
                        <p class="space-top">O SMS é uma das mais importantes estratégias de mobile marketing
                            do momento, mesmo com a queda do uso entre usuários. Isso por que a aposta das
                            empresas é na efetividade dessa estratégia, que permite entregar a mensagem onde
                            quer que o seu cliente esteja, com um nível de satisfação alto.</p>
                        <div class="media">
                            <div class="media-body">
                                <h4 class="media-heading">No Brasil, a quantidade de celulares já ultrapassou a de habitantes</h4>
                            </div>
                            <div class="media-right pl-20">
                                <span class="icon circle small default-bg"><i class="icon-ok"></i> </span>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-body">
                                <h4 class="media-heading">Um celular é conferido 150x por dia</h4>
                            </div>
                            <div class="media-right pl-20">
                                <span class="icon circle small default-bg"><i class="icon-ok"></i> </span>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-body">
                                <h4 class="media-heading">1 visualização a cada 6,5 minutos</h4>
                            </div>
                            <div class="media-right pl-20">
                                <span class="icon circle small default-bg"><i class="icon-ok"></i> </span>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-body">
                                <h4 class="media-heading">É a primeira e a última coisa com que interagimos durante o dia</h4>
                            </div>
                            <div class="media-right pl-20">
                                <span class="icon circle small default-bg"><i class="icon-ok"></i> </span>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-body">
                                <h4 class="media-heading">Está sempre ao alcance das pessoas, a qualquer hora e em qualquer lugar</h4>
                            </div>
                            <div class="media-right pl-20">
                                <span class="icon circle small default-bg"><i class="icon-ok"></i> </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="../../assets/images/section-image-2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <br>
    </section>

    <section class="pv-30 light-gray-bg padding-bottom-clear">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="text-center">Mercados de <strong>uso</strong></h2>
                    <div class="separator"></div>
                    <p class="large text-center">Uma ferramenta acessível, com alto poder de alcance e baixo
                        custo, o SMS pode ser utilizado para diversas finalidades, possibilita mensurar
                        resultados e pode ser aplicado a todo tipo de negócios.</p>
                    <br>
                </div>
            </div>
        </div>
        <div class="space-bottom">
            <div class="owl-carousel carousel">
                <div class="image-box shadow text-center">
                    <div class="overlay-container">
                        <img src="../../assets/images/portfolio-1.jpg" alt="">
                        <div class="overlay-top">
                            <div class="text">
                                <h3><a href="#">SMS para restaurantes</a></h3>
                                <p class="small">Situação: seu restaurante estácom uma super promoção de dia dos namorados.</p>
                            </div>
                        </div>
                        <div class="overlay-bottom">
                            <div class="links">
                                <a href="#" class="btn btn-gray-transparent btn-animated">Saiba mais <i class="pl-10 fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="image-box shadow text-center">
                    <div class="overlay-container">
                        <img src="../../assets/images/portfolio-2.jpg" alt="">
                        <div class="overlay-top">
                            <div class="text">
                                <h3><a href="#">SMS para salão de beleza</a></h3>
                                <p class="small">Situação: você tem um salão de beleza e quer confirmar o
                                    agendamento com uma cliente</p>
                            </div>
                        </div>
                        <div class="overlay-bottom">
                            <div class="links">
                                <a href="#" class="btn btn-gray-transparent btn-animated">Saiba mais <i class="pl-10 fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="image-box shadow text-center">
                    <div class="overlay-container">
                        <img src="../../assets/images/portfolio-3.jpg" alt="">
                        <div class="overlay-top">
                            <div class="text">
                                <h3><a href="#">SMS para academia</a></h3>
                                <p class="small">Situação: você deseja fidelizar os clientes da sua academia,
                                    oferecendo um desconto para quem fechar o plano semestral.</p>
                            </div>
                        </div>
                        <div class="overlay-bottom">
                            <div class="links">
                                <a href="#" class="btn btn-gray-transparent btn-animated">Saiba mais <i class="pl-10 fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="image-box shadow text-center">
                    <div class="overlay-container">
                        <img src="../../assets/images/portfolio-4.jpg" alt="">
                        <div class="overlay-top">
                            <div class="text">
                                <h3><a href="#">SMS para escola de Idiomas</a></h3>
                                <p class="small">Situação: divulgação de um encontro de conversação da escola de idiomas.</p>
                            </div>
                        </div>
                        <div class="overlay-bottom">
                            <div class="links">
                                <a href="#" class="btn btn-gray-transparent btn-animated">Saiba mais <i class="pl-10 fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="image-box shadow text-center">
                    <div class="overlay-container">
                        <img src="../../assets/images/portfolio-5.jpg" alt="">
                        <div class="overlay-top">
                            <div class="text">
                                <h3><a href="#">SMS para livrarias</a></h3>
                                <p class="small">Situação: lançamento do 6o livro da série Guerra dos Tronos (Game of Thrones).</p>
                            </div>
                        </div>
                        <div class="overlay-bottom">
                            <div class="links">
                                <a href="#" class="btn btn-gray-transparent btn-animated">Saiba mais <i class="pl-10 fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="image-box shadow text-center">
                    <div class="overlay-container">
                        <img src="../../assets/images/portfolio-6.jpg" alt="">
                        <div class="overlay-top">
                            <div class="text">
                                <h3><a href="#">Project Title</a></h3>
                                <p class="small">Lorem ipsum dolor sit amet.</p>
                            </div>
                        </div>
                        <div class="overlay-bottom">
                            <div class="links">
                                <a href="#" class="btn btn-gray-transparent btn-animated">View Details <i class="pl-10 fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-carousel content-slider">
            </div>
            <div class="container">
                <div class="clients-container">
                    <div class="clients">
                        <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">
                            <a href="#"><img src="../../assets/images/client-1.png" alt=""></a>
                        </div>
                        <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="200">
                            <a href="#"><img src="../../assets/images/client-2.png" alt=""></a>
                        </div>
                        <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
                            <a href="#"><img src="../../assets/images/client-3.png" alt=""></a>
                        </div>
                        <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="400">
                            <a href="#"><img src="../../assets/images/client-4.png" alt=""></a>
                        </div>
                        <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="500">
                            <a href="#"><img src="../../assets/images/client-5.png" alt=""></a>
                        </div>
                        <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="600">
                            <a href="#"><img src="../../assets/images/client-6.png" alt=""></a>
                        </div>
                        <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="700">
                            <a href="#"><img src="../../assets/images/client-7.png" alt=""></a>
                        </div>
                        <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="800">
                            <a href="#"><img src="../../assets/images/client-8.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pv-40 stats padding-bottom-clear dark-translucent-bg hovered background-img-7" style="background-position: 50% 50%;">
        <div class="clearfix">
            <div class="col-md-6 col-xs-3 text-center">
                <div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
                    <span class="icon dark-bg large circle"><i class="fa fa-arrow-up"></i></span>
                    <h3><strong>SMS Enviados</strong></h3>
                    <span class="counter" data-to="1525" data-speed="5000">0</span>
                </div>
            </div>
            <div class="col-md-6 col-xs-3 text-center">
                <div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
                    <span class="icon dark-bg large circle"><i class="fa fa-arrow-down"></i></span>
                    <h3><strong>SMS Recebidos</strong></h3>
                    <span class="counter" data-to="1225" data-speed="5000">0</span>
                </div>
            </div>
        </div>
        <!-- footer top start -->
        <!-- ================ -->
        <div class="footer-top animated-text" style="background-color:rgba(0,0,0,0.3);">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="call-to-action text-center">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h2>Quer fidelizar seus clientes?</h2>
                                    <h2>clique aqui <i class="fa fa-arrow-right pl-20"></i></h2>
                                </div>
                                <div class="col-sm-4">
                                    <p class="mt-10"><a href="#" class="btn btn-animated btn-lg btn-gray-transparent">Entrar em contato<i class="fa fa-envelope pl-20"></i></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer top end -->
    </section>

    <footer-app></footer-app>
</div> 
