<header class="header fixed clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="header-left clearfix">
                    <div>
                        <span><h4>Enviou.net</h4></span>
                    </div>
                    <div>
                        <small>Nós entregamos resultados.</small>
                    </div>

                </div>
            </div>
            <div class="col-md-9">
                <div class="header-right clearfix">
                <div class="main-navigation  animated with-dropdown-buttons">
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li class="dropdown " *ngFor="let menu of menuJson">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="{{menu.url}}">{{menu.name}}</a>
                                        <ul class="dropdown-menu" *ngIf="menu.sub">
                                            <li *ngFor="let sub of menu.submenu"><a href="#">{{sub.name}}</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
                </div>
            </div>
        </div>
    </div>
</header>